Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
nltk==3.8.1
textblob==0.17.1
langdetect==1.0.9
setuptools>=68.0.0
wheel>=0.42.0
wordcloud==1.9.3
textstat